<%= form_with(model: mentee, local: true) do |form| %>
  <% if mentee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mentee.errors.count, "error") %> prohibited this mentee from being saved:</h2>

      <ul>
        <% mentee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name%>
    <%= form.text_field :name,class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :vtu %>
    <%= form.number_field :vtu,class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :dept %>
    <%= form.text_field :dept,class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :marks %>
    <%= form.number_field :marks,class:"form-control" %>
  </div>
  <div class="form-group">
    <% form.label :user_id %>
  <%=form.number_field :user_id,id: :mentee_user_id, class:"form-control",value:current_user.id,type: :hidden%>
  </div>
  <br>
  <div class="actions">
    <%= form.submit class:"btn btn-primary"%>
  </div>
  <br>
<% end %>
